.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.capriola {
    font-family: "Capriola", Courier, monospace;
}

.kalam {
    font-family: "Kalam", Verdana, sans-serif;
}

.anton {
    font-family: "Anton", Arial, sans-serif;
}
